<div class="row">
    <h1>Proyectos</h1>
    <div class="col-lg-2">
        <button type="button" class="btn btn-dark"  *ngIf="isLogger" routerLink="/nuevoproy" >
            Nuevo proyecto
        </button>
    </div>
    <div class="col lg 1"> </div>
    <div class="col-lg-11">
        <table class="table">
            <tbody>
                <tr *ngFor="let proyecto of proy ">
                    <td>
                        <h2>{{proyecto.nombre}}</h2>
                    </td>
                    <td>{{proyecto.descripcion}}</td>
                    
                    <td>
                        <div class="col-sm-12 col-md-3 col-lg-3 offset-md-1 offset-lg-1 parte2">
                            <a href="{{proyecto.link}}"><img src="{{proyecto.img}}" class="img-fluid img-proyect"></a>
                           
                      
                    </div></td>
                    <td *ngIf="isLogger">
                        <button class="btn btn-info" routerLink="/editproy/{{proyecto.id}}">
                            <i class="bi bi-pencil-fill"></i></button>
                    </td>
                    <td *ngIf="isLogger">
                        <button class="btn btn-danger" (click)="Borrar(proyecto.id)">
                            <i class="bi bi-trash-fill"></i></button>
                    </td>
                </tr>
            </tbody>


        </table>

    </div>
</div>